@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --gradiente-azul: linear-gradient(-45deg,#DEF9FA , #BEF3F5 25%, #9DEDF0 , #7DE7EB, #5CE1E6, #33BBCF );
    --gradiente-cinza: linear-gradient(145deg, rgba(250,250,250,0.3) 0%, rgba(20,16,29,1) 100%);
}

body {
    background: #00040F;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-left: 8.5rem;
    margin-right: 8.5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

p {
    color:#FFFFFF ;
    opacity: 70%;
    font-size: 1.125rem;
}

/*CABEÇALHO*/

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto 1.5rem auto;
 
}

.cabecalho_logo {
    display: flex;
    align-items: flex-start;
}

.cabecalho_menu {
    
    
}

.cabecalho_menu-item {
    text-decoration: none;
    color: #FFFFFF;
    justify-content: space-around;
    padding: 1.25rem;
}

/*PRIMEIRA SEÇÃO*/

.secao_topo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
   
}

.secao_topo_esquerda {
    margin: 12rem 0 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.secao_topo_esquerda-paragrafo {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    background: #272727;
    border-radius: 16px;
    padding: 0.25rem;
    
}

.secao_topo_esquerda-div {
    display: inline-block;
    position: relative;
}

.secao_topo_esquerda-titulo {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    line-height: 6.25rem;
}

.strong-titulo {
    background-image: var(--gradiente-azul);
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secao_topo_esquerda-imagem--getstarted {
    position: absolute;
    top: 20px;
    right: 30px;
}

.secao_topo_esquerda-imagem--elipse {
    position: absolute;
    left: -150px;
    top: -200px;
}


.secao_topo_esquerda-paragrafo-texto {
    line-height: 2rem;
}


.secao_topo_direita {
    width: 100%;
}

.secao_topo_direita-imagem {
    width: 100%;
    display: block;
    position: relative;
}

/*LINHA DE SEPARAÇÃO*/

.user_active {
    display: flex;
    justify-content: space-between;
    margin: 4.8rem auto 11.25rem auto;
    align-items: center;
    
}

.user_active-paragrafo {
    background-image: var(--gradiente-azul);
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*SEGUNDA SEÇÃO*/

.segunda_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10rem;
}

.segunda_section_div-esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.segunda_section_div-esquerda-titulo {
    margin-bottom: 1.5rem;
}

.segunda_section_div-esquerda-paragrafo {
    margin-bottom: 3rem;
    line-height: 2rem;
}

.segunda_section_div-esquerda-botao {
    padding: 1.5rem 2rem ;
    border-radius: 16px;
    background: var(--gradiente-azul);
    font-weight: 700;

}

.segunda_section_div-direita { 
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    position: relative;
    
}

.segunda_section_div-direita--colunas {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
    
}

.segunda_section_div-direita--colunas:hover {
    background: var(--gradiente-cinza);
    border-radius: 2rem;
    opacity: 100%;

}

.segunda_section_div-direita--colunas-imagem {
    margin-right: 1.25rem;   
}

.segunda_section_div-direita--colunas-titulo {
    opacity: 100%;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.segunda_section_div-direita--colunas-paragrafo {
    line-height: 1.5rem;
}