@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --gradiente: linear-gradient(-45deg,#DEF9FA , #BEF3F5 25%, #9DEDF0 , #7DE7EB, #5CE1E6, #33BBCF );
}

body {
    background: #00040F;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

p {
    color:#FFFFFF ;
    opacity: 70%;
}



.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cabecalho_logo {
    padding: 1.5rem;
    margin-left: 6rem;
}

.cabecalho_menu {
    padding: 1.5rem;
    margin-right: 6rem;
}

.cabecalho_menu-item {
    text-decoration: none;
    color: #FFFFFF;
    justify-content: space-around;
    padding: 1.5rem;
}

.secao_topo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 12rem 6rem 9rem 6rem;
    width: 100%;
}

.secao_topo_esquerda {


}

.secao_topo_esquerda-paragrafo {
    font-size: 18px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    background: #393939;
    border-radius: 16px;
    
    
}

.secao_topo_esquerda-titulo {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 2.5rem;
    line-height: 100px;
    
    
}

strong {
    background-image: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secao_topo_esquerda-paragrafo-texto {
    font-size: 18px;

}


.secao_topo_direita {
    display: flex;
    flex-direction: column;
    align-self: center;

    
}

.secao_topo_direita-imagem {
    width: 100%;
    display: block;
    position: relative;
    
}



.user_active {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto 1.5rem auto;
    align-items: center;
    padding: 5rem;
}

.user_active-paragrafo {
    background-image: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.segunda_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.segunda_section_div-esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
}

.segunda_section_div-esquerda-titulo {
    margin-bottom: 24px;
}

.segunda_section_div-esquerda-paragrafo {
    margin-bottom: 48px;
}

.segunda_section_div-esquerda-botao {
    padding: 18px 32px ;
    border-radius: 10px;
    background: var(--gradiente);
    font-weight: 700;

}

.segunda_section_div-direita { 
    width: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9;
    align-items: center;
}

.a {
    grid-row-start: 1;
    grid-row-end: 2;
}

.b {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.c {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

