:root {
    --gradiente-azul: linear-gradient(-45deg,#DEF9FA , #BEF3F5 25%, #9DEDF0 , #7DE7EB, #5CE1E6, #33BBCF );
    --gradiente-cinza: linear-gradient(145deg, rgba(250,250,250,0.3) 0%, rgba(20,16,29,1) 100%);
}

.corpo {
    background: #00040F;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-left: 8.5rem;
    margin-right: 8.5rem;
}

.titulo-secundario {
    font-size: 3rem;
    font-weight: 700;
    line-height: 80px;
}

p {
    color:#FFFFFF ;
    opacity: 70%;
    font-size: 1.125rem;
}

button:hover {
    cursor: pointer;
}