

.terceira__secao-esquerda {
    position: relative;
}

/*Esses números negativos não são ideais*/
.terceira__secao-esquerda--imagem-paypal {
    position: absolute;
    top: -9rem;
    right: 7.5rem;

}


.terceira__secao-esquerda--imagem-transaction {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.terceira__secao-esquerda--imagem-transaction:hover {
    -webkit-filter: blur(0);
	filter: blur(0);
    transition: .3s ease-in-out;
}

/*Esses números negativos não são ideais*/
.terceira__secao-esquerda--imagem-great {
    position: absolute;
    bottom: -2.5rem;
    right: 2.5rem;
}

