.segunda__secao-direita { 
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    position: relative;
    
}

.segunda__secao-direita--colunas {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
    
}

.segunda__secao-direita--colunas:hover {
    background: var(--gradiente-cinza);
    border-radius: 2rem;
    opacity: 100%;

}

.segunda__secao-direita--colunas-imagem {
    margin-right: 1.25rem;   
}

.segunda__secao-direita--colunas-titulo {
    opacity: 100%;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.segunda__secao-direita--colunas-paragrafo {
    line-height: 1.5rem;
}