.info__credibilidade {
    display: flex;
    justify-content: space-between;
    margin: 0 0 6rem;
    align-items: center;
    
}

.info__credibilidade-paragrafo {
    background-image: var(--gradiente-azul);
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}